.rght, .wrng {
	font-size: 22px;
	z-index:27;
}
div#mt1 table td {
	border-top-width: 2px;
	border-top-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-left-width: 2px;
	border-left-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.mtab table td {
	border: 2px solid;
}	
table.b1 {
	border-collapse:collapse;
}
table.b1 td{
	width: 1.75em;
	border : 1px solid;
	padding: 0px 1px 0px 1px;
	padding-top: 0.2em;
	font-size: 13px;
	color: #A81400;
	background-color: #FFF88F;
	font-family: "Futura Book";
}
table.b1 td.sm  {
	font-size: 4px !important;
}
table.b1 td.bg  {
	font-size: 11px !important;
}
.imgTable1 img, #icpy img {
	border: 1px solid #FF6F00;
	background-color: inherit;
}	
.lbl1 {
	font-size: 19px;
	border: 2px solid;
	border-color: transparent;
	padding:2px 3px 0px 3px;
}
.trow img {
	margin-top:2px;
}
.brow img{
	margin-bottom: -5px;
}
.bigL{
	font-size:24px;
	/*font-weight:bold;*/
	padding-top:-4px;
	padding-bottom:-4px;
	font-family: "ITC New Baskerville";
}
.rel {
	position:relative;
}
.vLine{
	border-right: 1px solid DarkBlue;
	z-index:25;
	position: absolute;
	width: 1px;
	font-size: 12px;
	vertical-align:text-bottom;
}
.hLine, .ddLine, .duLine {
	border-top: 1px solid DarkBlue;
	z-index:25;
	position: absolute;
	height: 1px;
	font-size: 12px;
}
.btr2{
	border: 2px solid /*black*/ !important;
}
.imgTable1 img.btr2 {
	width:96px;
	height:96px;
}
.imgTable1 img.srv.btr2{
	width:67px;
	height:101px;
}
.imgTable1 img.pc.btr3 {
	width:78px;
	height:78px;
	border: 2px solid;
}
.bRed{
	border: 2px solid red !important;
	color: red !important;
}
.bGre{
	border: 2px solid green !important;
	color: #357F7A !important;
}
.vert1{
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	bottom:11px;
	left:-9px;
}
.vert2{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	position: absolute;
	top:15px;
	right:-9px;
	
}
#sl1, #sl2 {
	position:absolute;
	text-align:center;
}
#mat1, #mat21, #mat22 {
	/*background-color:#FF6F00; */ /*025568;*/
	color:#FF6F00; /*FFF8ED;*/
}
div#mat1 table td, div#mat21 table td, div#mat22 table td {
	border: 1px solid;
}
.atab{
	color:#FF6F00; /*FFF8ED;*/
	position: absolute;
	background-color: #FFFFFF;
	filter:alpha(opacity=95); /* IE */
	opacity: 0.95; /* Safari, Opera */
	-moz-opacity:0.95; /* FireFox */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid LightBlue;
	padding: 7px 10px 7px 10px;
}
.atab table td{
	border: 1px solid;
}
